
.adminuser, .admintask{
    display: flex;
}
.admin-workspace, .taskspace{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.users, .real-tasks{
    display: flex;
    flex-wrap: wrap;
}
.adminsidebar{
    width: 16%;
    height: 100vh;
    top: 0;
    left: 0;
    padding: 3px;
    background-color: #2F4050;
    border-top: 1px solid white;
}
.admincard{
    width: 230px;
    height: 10vh;
    margin: 3vh;
    padding: 3%;
    border-radius: 10px;
    border: 1px solid black;
    background-image: linear-gradient(to right, rgb(224, 120, 224), rgb(122, 122, 226));
    font-family: Arial, Helvetica, sans-serif;
}
.admincard:hover{
    transform: scale(1.03);
    transition: all 0.3s ease-out;
}
.admin-wel{
    color: white;
    text-align: center;
}
.taskcard{
    width: 260px;
    height: 16vh;
    margin: 3vh;
    border: 1px solid black;
    /* background-image: linear-gradient(to right, rgb(224, 120, 224), rgb(122, 122, 226)); */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border-radius: 10px;
    background-color: rgb(223, 130, 223);

}
.task-up{
    height: 8vh;
    border-bottom: 1px solid gray;
    width: 260px;
    padding: 0.5%;
}
.task-down{
    padding: 0.5%;
    height: 8vh;
    line-height: 1;
}